@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200;300;400;600;700;800;900&family=Poppins:wght@300;400;500;600;700;800;900&display=swap");
@font-face {
  font-family: AgencyFb;
  src: url("./agency_fb.ttf");
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: none;
}

body {
  font-family: 'Nunito Sans', sans-serif;
  min-width: 320px;
}

img {
  width: 100%;
}

@media screen and (max-width: 500px) {
  .mobile_hide {
    display: none !important;
  }
}

@media screen and (min-width: 500px) {
  .desktop_hide {
    display: none !important;
  }
}

@media screen and (min-width: 1400px) {
  .max_width {
    max-width: 1200px;
    margin: auto;
  }
}

.bg_btn {
  background: #fff;
  border: 2px solid #2150a5;
  padding: 10px 20px;
  color: #2150a5;
  border-radius: 5px;
  font-size: 20px;
  text-transform: capitalize;
  font-weight: bold;
}

@media screen and (max-width: 500px) {
  .bg_btn {
    padding: 6px 10px;
    font-size: 18px;
  }
}

a {
  text-decoration: none;
}

.btn_bg {
  background: #020024;
  background: -webkit-gradient(linear, left top, right top, from(#090979), to(#00d4ff));
  background: linear-gradient(90deg, #090979 0%, #00d4ff 100%);
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

input:active,
input:focus {
  outline: none;
}

.space-20 {
  height: 20px;
}

.space-40 {
  height: 40px;
}

.height-400px {
  height: 400px;
  border-radius: 6px;
}

@media screen and (max-width: 500px) {
  .height-400px {
    height: 200px;
  }
}

.slider_about_height {
  height: 400px;
}

@media screen and (max-width: 500px) {
  .slider_about_height {
    height: 200px;
  }
}

.agency-fb {
  font-family: AgencyFb;
}

@media screen and (max-width: 500px) {
  .mobile-hide {
    display: none;
  }
}

.card_change span {
  width: 60%;
}

@media screen and (max-width: 500px) {
  .card_change span {
    width: 100%;
  }
}

.card_change a {
  font-size: 16px !important;
}

.social-links {
  position: fixed;
  width: 40px;
  min-height: 40px;
  top: 35%;
  right: 10px;
  list-style: none;
  background: rgba(255, 255, 255, 0.25);
  -webkit-box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
          box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  -webkit-backdrop-filter: blur(4px);
          backdrop-filter: blur(4px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  margin-bottom: 15px;
  z-index: 999;
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-radius: 7px;
  gap: 10px;
  -webkit-transition: left 300ms ease-out;
  transition: left 300ms ease-out;
}

@media screen and (max-width: 500px) {
  .social-links {
    top: 35%;
  }
}

.social-links img {
  width: 25px;
  height: 25px;
}

.popup_active {
  opacity: 1 !important;
  pointer-events: auto !important;
}

.modified_popup {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  background: rgba(33, 79, 165, 0.4);
  z-index: 1000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  opacity: 0;
  pointer-events: none;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}

.modified_popup .popup_container {
  width: 50%;
  min-height: 370px;
  border-radius: 7px;
  background: white;
  padding: 40px;
  padding-top: 60px;
  position: absolute;
  z-index: 3;
}

@media screen and (max-width: 1024px) {
  .modified_popup .popup_container {
    width: 95%;
  }
}

.modified_popup .popup_container .box {
  position: absolute;
  border: 2px solid black;
  width: 100%;
  height: 100%;
}

.modified_popup .cross {
  position: absolute;
  right: 10px;
  top: -20px;
  font-size: 30px;
  margin-top: 20px;
}

.modified_popup .cross button {
  width: 30px;
  height: 20px;
  border: none;
  background: none;
}

@media screen and (max-width: 767px) {
  .modified_popup .mobile-hide {
    display: none;
  }
}

.modified_popup input {
  border: none;
  width: 100%;
  height: 40px;
  margin-top: 20px;
  padding: 5px;
  border-bottom: 1px solid rgba(128, 128, 128, 0.377);
  font-size: 16px;
  color: black;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}

.modified_popup .custom_btn {
  margin-top: 20px;
  width: 100%;
  height: 35px;
  border-color: #000;
  background: transparent;
  font-size: 20px;
  font-weight: 400;
  -webkit-transition: all 300ms ease-in;
  transition: all 300ms ease-in;
}

.modified_popup img {
  margin-top: 20px;
}

.modified_popup .custom_btn:hover,
.modified_popup .custom_btn:focus {
  color: white;
  background: black;
}

.modified_popup input:active,
.modified_popup input:focus {
  border-bottom: 2px solid #2150a5;
}

.modified_popup .heading {
  width: 100%;
  text-transform: capitalize;
}

.modified_popup .heading h4 {
  font-weight: bolder;
}

nav {
  width: 100%;
  min-height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  top: 0;
  background-color: white;
  padding: 10px;
  z-index: 999;
  -webkit-box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.3);
          box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.3);
}

@media screen and (max-width: 500px) {
  nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: relative;
  }
}

nav .link_image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
}

nav ul {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 30px;
  padding: 0 10px;
  margin: 0;
}

@media screen and (max-width: 500px) {
  nav ul {
    margin-top: 0;
    margin-bottom: 0;
  }
}

nav ul a {
  font-size: 17px;
}

@media screen and (max-width: 500px) {
  nav ul a {
    font-size: 16px;
  }
}

nav .image_logo {
  width: 50px;
  height: 40px;
  border-radius: 100%;
}

nav .logo_text {
  color: #2150a5;
  font-size: 20px;
  font-weight: 600;
  text-transform: capitalize;
}

#login {
  min-height: 87.7vh;
  padding-top: 40px;
  background-image: url(../images/login_bg.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
}

#login h4 {
  font-weight: bold;
}

#hero {
  padding: 20px;
  min-height: 100px;
  background: #edf3f8;
  padding-top: 95px;
}

@media screen and (max-width: 500px) {
  #hero {
    padding-top: 20px;
  }
}

#hero .hero_header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#hero .hero_header img {
  padding: 20px;
  margin-top: -50px;
  width: 200px;
  height: 150px;
}

@media screen and (max-width: 500px) {
  #hero .hero_header img {
    margin-top: auto;
    width: 150px;
    height: 120px;
  }
}

#hero .heading_text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

#hero .heading_text h1 {
  text-transform: uppercase;
  font-size: 60px;
  color: #2150a5;
  font-weight: 700;
}

@media screen and (max-width: 500px) {
  #hero .heading_text h1 {
    font-size: 30px;
  }
}

#hero .hero_text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#hero .hero_text blockquote {
  margin-left: 60px;
  text-transform: capitalize;
  font-size: 25px;
  font-weight: bold;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 500px) {
  #hero .hero_text blockquote {
    font-size: 18px;
    text-align: center;
    margin: auto;
  }
}

#hero .hero_text h1 {
  margin-left: 60px;
  text-transform: uppercase;
  font-size: clamp(20px, 6vw, 60px);
  color: #2150a5;
  font-weight: 700;
}

@media screen and (max-width: 500px) {
  #hero .hero_text h1 {
    margin: auto;
    font-size: 20px;
    text-align: center;
  }
}

#swiper_section {
  padding: 20px;
  min-height: 400px;
}

@media screen and (max-width: 500px) {
  #swiper_section {
    min-height: 200px;
  }
}

#swiper_section #mySwiper {
  max-width: 1200px;
  height: 500px;
}

@media screen and (max-width: 500px) {
  #swiper_section #mySwiper {
    height: 200px;
  }
}

#swiper_section .default_slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: #020024;
  background: -webkit-gradient(linear, left top, right top, from(#020024), color-stop(35%, #090979), to(#00d4ff));
  background: linear-gradient(90deg, #020024 0%, #090979 35%, #00d4ff 100%);
  border-radius: 10px;
}

#swiper_section .default_slider h2 {
  text-transform: capitalize;
  font-size: 60px;
  margin-bottom: 30px;
  font-weight: bolder;
  color: #fff;
}

@media screen and (max-width: 500px) {
  #swiper_section .default_slider h2 {
    font-size: 30px;
  }
}

#swiper_section .swiper {
  width: 100%;
  height: 100%;
}

#swiper_section .swiper-button-next:after, #swiper_section .swiper-rtl .swiper-button-prev:after {
  content: 'next';
}

@media screen and (max-width: 500px) {
  #swiper_section .swiper-button-next:after, #swiper_section .swiper-rtl .swiper-button-prev:after {
    font-size: 25px;
  }
}

#swiper_section .swiper-button-prev:after, #swiper_section .swiper-rtl .swiper-button-next:after {
  content: 'prev';
}

@media screen and (max-width: 500px) {
  #swiper_section .swiper-button-prev:after, #swiper_section .swiper-rtl .swiper-button-next:after {
    font-size: 25px;
  }
}

#swiper_section img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

#imageText {
  min-height: 400px;
}

#imageText .title h5 {
  font-weight: bold;
}

#imageText .title p {
  font-size: 15px;
  text-transform: capitalize;
}

#imageText .flipped {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

#imageText .flipped .title {
  text-align: right !important;
}

#imageText .image img {
  border-radius: 10px;
}

#imageText .image video {
  width: 100%;
  height: 400px;
}

#imageText .form_logo {
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 500px) {
  #imageText .form_logo {
    width: 200px;
    height: 100px;
    margin-bottom: 20px;
  }
}

#imageText .text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 10px;
}

#imageText .text .title {
  text-align: left;
}

@media screen and (max-width: 500px) {
  #imageText .text .title {
    text-align: center !important;
  }
}

#imageText .card_container {
  padding: 15px;
}

#imageText .form {
  width: 100%;
}

#imageText .form label {
  font-weight: bold;
  text-transform: capitalize;
}

@media screen and (max-width: 500px) {
  #imageText .form label {
    font-size: 14px;
  }
}

#imageText .feedback-title {
  text-transform: capitalize;
}

@media screen and (max-width: 500px) {
  #imageText .feedback-title h2 {
    font-size: 15px;
  }
}

#imageText .btn-color {
  background: #2150a5;
  text-transform: capitalize;
  color: white;
}

.certificate {
  width: 100%;
  height: 300px;
  margin: auto;
}

#iso_number {
  min-height: 100px;
  padding: 20px;
}

#iso_number img {
  width: 80px;
}

@media screen and (max-width: 500px) {
  #iso_number img {
    width: 40px;
  }
}

#iso_number .cin {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#iso_number .cin span {
  font-size: 20px;
  text-transform: capitalize;
  font-weight: bold;
  text-transform: uppercase;
}

@media screen and (max-width: 500px) {
  #iso_number .cin span {
    font-size: 16px;
  }
}

#contact-page {
  min-height: 200px;
  padding: 20px;
}

#contact-page .contact_card {
  min-height: 100px;
}

@media screen and (max-width: 500px) {
  #contact-page .contact_card {
    padding: 15px;
  }
}

#contact-page .contact_card .title {
  width: 100%;
  text-transform: capitalize;
  letter-spacing: 2px;
  font-weight: bold;
}

#contact-page .contact_card .card_subtitle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  gap: 10px;
}

@media screen and (max-width: 500px) {
  #contact-page .contact_card .card_subtitle {
    gap: 2px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

#contact-page .contact_card .card_subtitle span {
  font-size: 20px;
  font-weight: bold;
}

@media screen and (max-width: 500px) {
  #contact-page .contact_card .card_subtitle span.hide {
    display: none;
  }
}

#contact-page .contact_card .card_subtitle span, #contact-page .contact_card .card_subtitle a {
  font-size: 20px;
  text-transform: capitalize;
}

#contact-page .social_card {
  min-height: 50px;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 40px;
}

@media screen and (max-width: 500px) {
  #contact-page .social_card {
    padding: 15px;
    gap: 20px;
  }
}

#contact-page .social_card .social_link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  cursor: pointer;
}

#contact-page .social_card .social_link img {
  width: 20px;
  height: 20px;
}

#contact-page .social_card .social_link span {
  font-size: 20px;
  text-transform: capitalize;
}

#gmap {
  min-height: 300px;
  padding: 20px;
}

#gmap iframe {
  width: 100%;
  height: 300px;
  border: none;
  border-radius: 10px;
}

#courses {
  min-height: 300px;
  padding: 20px 0;
}

@media screen and (max-width: 500px) {
  #courses {
    padding: 10px;
  }
}

#courses .card-manage {
  width: 100%;
  border-radius: 0;
  min-height: 300px;
  border: none;
  padding: 0;
  -webkit-transition: all 200ms ease-in;
  transition: all 200ms ease-in;
}

#courses .card-manage:hover {
  -webkit-box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.2), -2px -3px 5px rgba(0, 0, 0, 0.2);
          box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.2), -2px -3px 5px rgba(0, 0, 0, 0.2);
}

@media screen and (max-width: 500px) {
  #courses .card-manage {
    -webkit-box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.2), -2px -3px 5px rgba(0, 0, 0, 0.2);
            box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.2), -2px -3px 5px rgba(0, 0, 0, 0.2);
  }
}

#courses .card-manage a {
  color: black;
}

#courses .card-manage h5, #courses .card-manage h6 {
  text-transform: capitalize;
  font-weight: bold;
}

#courses .card-manage h6 {
  font-weight: bolder;
}

#courses .card-manage h6 span {
  color: #c4c4c4;
  font-weight: lighter;
  font-size: small;
  text-decoration: line-through;
}

#course-hero {
  min-height: 400px;
  background: #161616;
  padding-top: 50px;
  padding-bottom: 50px;
}

@media screen and (min-width: 500px) {
  #course-hero .desktop_flex_center {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media screen and (max-width: 576px) {
  #course-hero {
    padding: 20px;
    padding-top: 50px;
  }
  #course-hero .flex_reverse {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  #course-hero .mobile_margin_top {
    margin-top: 20px;
  }
}

#course-hero h1 {
  color: white;
  text-transform: capitalize;
  font-size: clamp(20px, 3vw, 30px);
  font-weight: bolder;
}

#course-hero p {
  color: white;
  text-transform: capitalize;
  font-size: clamp(16px, 2vw, 20px);
}

#course-hero .price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
}

#course-hero .price h2 {
  color: #fff;
  font-size: 20px;
  font-weight: bold;
}

#course-hero .price span {
  color: #f4f4f4;
  text-decoration: line-through;
  font-size: 15px;
  font-weight: lighter;
}

#course-hero .buy_btn a {
  width: 100%;
  padding: 8px 18px;
  display: block;
  border: none;
  background: #fff;
  color: black;
  font-size: 20px;
  font-weight: bolder;
  text-transform: capitalize;
  text-align: center;
  -webkit-transition: all 200ms ease-in;
  transition: all 200ms ease-in;
}

#course-hero .buy_btn a:hover, #course-hero .buy_btn a:focus {
  background: none;
  color: #fff;
  outline: 2px solid #fff;
}

#course-hero .image {
  position: relative;
}

#course-hero .image img {
  border-radius: 3px;
}

@media screen and (min-width: 1024px) {
  #course-hero .image img {
    width: 500px;
    margin: auto;
  }
}

#course-hero .image .play_btn {
  position: absolute;
  width: 100px;
  height: 100px;
  border: none;
  background: white;
  left: 40%;
  top: 30%;
  border-radius: 100%;
}

#course-hero .image .play_btn img {
  width: 60px;
}

#course-hero .desktop_btn {
  background: #fff;
  width: 80%;
  margin: auto;
  margin-top: 20px;
  padding: 15px;
  border-radius: 4px;
}

#course-hero .desktop_btn h2 {
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 10px;
}

#course-hero .desktop_btn .buy_btn {
  -webkit-box-flex: .6;
      -ms-flex: .6;
          flex: .6;
}

#course-hero .desktop_btn a {
  width: 100%;
  padding: 8px 18px;
  display: block;
  border: none;
  background: #161616;
  color: white;
  font-size: 20px;
  font-weight: bolder;
  text-transform: capitalize;
  text-align: center;
  -webkit-transition: all 200ms ease-in;
  transition: all 200ms ease-in;
}

#course-hero .desktop_btn a:hover, #course-hero .desktop_btn a:focus {
  background: none;
  color: #161616;
}

#video_overlay.active {
  top: 0;
  bottom: 0;
}

#video_overlay.active .video_container {
  opacity: 1;
}

#video_overlay {
  position: fixed;
  top: 100%;
  bottom: auto;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.3);
  z-index: 999;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 300ms linear;
  transition: all 300ms linear;
}

#video_overlay .video_container {
  width: 50%;
  min-height: 100px;
  background: transparent;
  border-radius: 10px;
  padding: 0;
  position: relative;
  opacity: 0;
  -webkit-transition: all 300ms linear;
  transition: all 300ms linear;
}

@media screen and (max-width: 500px) {
  #video_overlay .video_container {
    padding: 0;
    width: 95%;
  }
}

#video_overlay .video_container .close {
  position: absolute;
  width: 30px;
  right: 5px;
  top: 5px;
  cursor: pointer;
  z-index: 999;
}

#video_overlay .video_container video {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

#buynow {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background: #fff;
  height: 60px;
  padding: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: -2px 0px 5px rgba(0, 0, 0, 0.2);
          box-shadow: -2px 0px 5px rgba(0, 0, 0, 0.2);
}

#buynow h2 {
  font-weight: bold;
  font-size: 20px;
}

#buynow .buy_btn {
  -webkit-box-flex: .6;
      -ms-flex: .6;
          flex: .6;
}

#buynow a {
  width: 100%;
  padding: 8px 18px;
  display: block;
  border: none;
  background: #161616;
  color: white;
  font-size: 20px;
  font-weight: bolder;
  text-transform: capitalize;
  text-align: center;
  -webkit-transition: all 200ms ease-in;
  transition: all 200ms ease-in;
}

#buynow a:hover, #buynow a:focus {
  background: none;
  color: #161616;
}

#description {
  min-height: 400px;
  padding: 20px;
}

#description .course_description {
  padding: 20px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  margin-bottom: 10px;
}

#description .course_description h3 {
  text-transform: capitalize;
  font-weight: bold;
}

#description .course_description p {
  font-size: 17px;
}

#description .course_description ul li {
  margin-bottom: 10px;
}

#checkout {
  min-height: 85vh;
}

#checkout .checkout-wrapper {
  height: 500px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (min-width: 500px) {
  #checkout .checkout-wrapper {
    max-width: 450px;
    margin: auto;
    height: 700px;
  }
}

#checkout img {
  height: 250px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  -o-object-fit: cover;
     object-fit: cover;
}

#checkout .checkout_card {
  background: white;
  width: 100%;
  min-height: 100px;
  padding: 20px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

#checkout .checkout_card h1 {
  font-size: 20px;
  font-weight: bold;
}

#checkout .checkout_card h2 {
  font-size: 18px;
}

#checkout .checkout_card .razorpay-payment-button {
  width: 100%;
  padding: 8px 18px;
  display: block;
  border: none;
  background: #161616;
  color: white;
  font-size: 20px;
  font-weight: bolder;
  text-transform: capitalize;
  text-align: center;
  -webkit-transition: all 200ms ease-in;
  transition: all 200ms ease-in;
}

#checkout .checkout_card .razorpay-payment-button:hover, #checkout .checkout_card .razorpay-payment-button:focus {
  background: none;
  color: #161616;
  outline: 2px solid #161616;
}

footer {
  width: 100%;
  min-height: 20px;
  background-color: #000;
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer p {
  color: white;
  font-size: 14px;
  font-weight: 400;
}
/*# sourceMappingURL=styles.css.map */